@charset 'UTF-8';
/**** CSS : reset ****/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,
dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,
dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,
td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,
time,mark,audio,video{ margin: 0; padding: 0; border: 0;}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,main
{ display: block;}

ol,ul{ list-style: none;}

*{ box-sizing: border-box;}

a{ text-decoration: none; outline: none;}

textarea{ resize: none;}

img{ max-width: 100%;}

button{ 
    margin: 0; padding: 0; cursor: pointer;
    border: 0; outline: none; background: transparent;
}

/***** CSS : mixin *****/
/***** CSS : base *****/
a{ color: #333;}

/* body{ line-height: 1; display: flex; overflow-y: scroll; flex-direction: column;} */

.fade
{
    transition: opacity .15s linear;
}

.fade:not(.show)
{
    opacity: 0;
}

.fade.show
{
    opacity: 1;
}

/***** CSS : main *****/
@media (max-width: 980px)
{
    body .public-search
    {
        position: fixed;
        top: 0;
        right: 0;
        bottom: auto;
        left: 0;

        width: auto;
        max-width: none !important;

        text-align: left;

        border-bottom: 1px solid #dbdbdb;
        border-radius: 0;
        box-shadow: none;
    }

}


.con-wrap
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/***** CSS: shop *****/

.shop-list
{
    display: flex;

    flex-wrap: wrap;
}

.shop-list.half > li
{
    width: 50%;
}

.shop-list > li
{
    width: 33.333%;
    padding: 20px;
}

.shop-list > li a:hover .shop-box
{
    transform: scale(1.1);
}


.shop-list > li .slick-slide
{
    overflow: hidden;

    height: 280px;
}

.shop-list > li .slick-slide img
{
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: none;

    transform: translate(-50%, -50%);
}

.shop-list-box
{
    overflow: hidden;

    max-width: 400px;
    margin: 0 auto;

    text-align: left;

    border-radius: 15px;
    box-shadow: 0 10px 18px rgba(96, 96, 96, .2);
}


.shop-list-box.gold .shop-main-area
{
    background-color: #fff;
}


.shop-img-list
{
    transition: all .3s ease-out;

    opacity: 1;
    background-color: #fff;
}

.shop-box
{
    height: 100%;

    transition: all .3s ease-in-out;
}



@media (max-width: 480px)
{
    .shop-over
    {
        padding: 40px 10px 20px;
    }
    .shop-over > span
    {
        max-width: 55px;
        padding: 4px 5px;
    }
}

.shop-main-area
{
    display: flex;

    min-height: 180px;
    padding: 15px 20px;

    background-color: #fffded;
}

.shop-main
{
    width: 100%;
}

.shop-main-top
{
    position: relative;

    margin-bottom: 10px;
}

.shop-main-top .tit
{
    font-size: 1.143rem;
    font-weight: 700;

    margin-right: 50px;
    padding: 1px 0 2px;

    vertical-align: middle;
}

.shop-main-address
{
    margin-bottom: 5px;

    color: #4c4c4c;
}


.shop-main-bottom
{
    display: flex;

    padding-bottom: 10px;

    border-bottom: 1px solid #dbdbdb;

    flex-wrap: wrap;
    align-items: flex-end;
}

.shop-main-bottom .menu
{
    font-size: 1.143rem;
    font-weight: 700;

    overflow: hidden;

    max-width: 170px;
    margin-bottom: 3px;

    white-space: nowrap;
    text-overflow: ellipsis;

    flex-grow: 1;
}

.shop-main-bottom .menu > span
{
    vertical-align: middle;
}



.shop-main-bottom .price
{
    flex-grow: 1;
}


.shop-main-bottom .price .sale
{
    font-size: 1.286rem;
    font-weight: 800;

    display: flex;

    color: #66BB6A;

    align-items: center;
    justify-content: flex-end;
}











/***** CSS: area *****/
.detail-condition
{
    position: relative;

    float: left;

    width: 360px;
    margin-right: 80px;

    transition: all .3s ease;
}

.detail-condition-nav > .tit
{
    font-size: 1.143rem;
    font-weight: 500;

    padding: 15px;

    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #538F6A;
}



.detail-condition-list > li
{
    margin-top: 10px;
    padding: 0 10px;

    border: 1px solid #f2f2f2;
    background-color: #fff;
}

.detail-condition-list > li > .tit
{
    font-weight: 700;

    padding: 15px 5px;

    border-bottom: 1px solid #dbdbdb;
}

.detail-condition-list > li > .area
{
    padding: 15px 0;
}


.detail-condition-list > li .check-list.half > li
{
    margin-top: 0;

    flex-grow: 1;
    flex-shrink: 1;
}

.detail-condition-list > li .check-list > li
{
    line-height: 0;

    margin-top: 15px;
}

.detail-condition-list > li .check-list input:checked + label
{
    font-weight: 700;
}

.now-sale-list,
.course-list
{
    display: flex;

    border-top: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;

    flex-wrap: wrap;
}

.now-sale-list > li,
.course-list > li
{
    width: 33.33%;

    border: 1px solid #dbdbdb;
    border-width: 0 1px 1px 0;
}

.now-sale-list > li.active a,
.course-list > li.active a
{
    font-weight: 500;

    color: #fff;
    /* 지역별 선택 색상 */
    background-color: #66BB6A;

}

.now-sale-list > li a,
.course-list > li a
{
    display: block;

    padding: 10px 0;

    text-align: center;
}

.course-list > li
{
    width: 25%;
}


.detail-condition-btn
{
    display: flex;

    width: 100%;
}

.detail-condition-btn .reset
{
    background-color: #4c4c4c;
}

.detail-condition-btn .apply
{
    /* 적용하기 색상 */
    background-color: #66BB6A;
}

.detail-condition-btn button
{
    width: 50%;
    padding: 10px 0;

    color: #fff;
}





/***** CSS: base form *****/



.sub-page
{
    margin-left: 440px;
}

@media (max-width: 1200px)
{
    .sub-page
    {
        margin-left: 0;
    }
}

.con-subpage
{
    position: relative;
}

.con-subpage::after
{
    display: block;
    clear: both;

    height: 0;

    content: '';
}

.sub-page-tit
{
    font-size: 2.143rem;
    font-weight: 700;
    line-height: 1;

    margin-bottom: 30px;

    transition: all .3s ease;
}

.sub-page-tit .subject
{
    display: flex;

    margin-right: 10px;

    color: #000;

    align-items: center;
}

.sub-page-tit .small
{
    vertical-align: bottom;

    color: #b0b0b0;
}

@media (max-width: 768px)
{
    .sub-page-tit
    {
        font-size: 1.286rem;
    }
}

.shop-area + .shop-area
{
    margin-top: 50px;
}

.shop-title
{
    display: flex;

    padding: 10px 20px;

    background-color: #ffffff;
    border: solid black 1px;
    overflow: hidden;
}

.shop-title h3
{
    font-size: 1.286rem;
    font-weight: 500;

    flex-grow: 1;
    flex-shrink: 1;
}

.shop-title .etc
{
    font-size: 1.143rem;

    color: #b0b0b0;
}

.shop-title .etc span
{
    margin-right: 5px;

    vertical-align: 3px;
}

.shop-title .etc button
{
    font-size: 1.429rem;
}

@media (max-width: 768px)
{
    .shop-title h3
    {
        font-size: 1.143em;
    }
    .shop-title .etc
    {
        font-size: 1rem;
    }
    .shop-title .etc button
    {
        font-size: 1.286rem;
    }
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{font-family: 'Pretendard-Regular';}

.box-radio-input input[type="radio"]{display: none;}
.box-radio-input input[type="radio"] + span{
    display:inline-block; 
    background:none;
    border:1px solid #dfdfdf;  
    padding:0px 10px;
    text-align:center;
    height:35px;
    line-height:33px;
    font-weight:500;
    cursor:pointer;
    width: 100%;
    height: 100%;
}

.box-radio-input input[type="radio"]:checked + span{
    border:1px solid #66BB6A;
    background:#66BB6A;
    color:#fff;
}

.farmsearch{
    font-size: 25px; 
    background-color: inherit;
    border: none;
    float: left;
    width: 92%;
    margin-top: 10px;
}
.farmsearch:focus{
    outline: none;
}
.searchBtn{
    background-image: url("../images/searchIcon.png");
    width: 46px;
    height: 46px;
    
}
#searchForm{
	width:100%;
}

.page-num {
    margin-top: 30px;
    text-align: center;
    margin-left: 440px;
  }
  
  .page-num li {
    width: 36px;
    height: 35px;
    padding: 0;
  	display: inline-block;
    padding-right: 5px;
  }
  
  .first {
    background: url(https://www.midashotel.co.kr/Midas_common/images/homepage/board/paging_first.png) no-repeat;
  }
  
  .prev {
    background: url(https://www.midashotel.co.kr/Midas_common/images/homepage/board/paging_prev.png) no-repeat;
  }
  
  .num {
    position: relative;
    top: -16px;
    height: 33px !important;
    border: 1px #989898 solid;
  }
  
  .num > div {
    position: relative;
    top: 2px;
  }
  
  .next {
    background: url(https://www.midashotel.co.kr/Midas_common/images/homepage/board/paging_next.png) no-repeat;
  }
  
  .last {
    background: url(https://www.midashotel.co.kr/Midas_common/images/homepage/board/paging_last.png) no-repeat;
  }