@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

section{width: 1200px; margin-left: 300px; height: 100%;}/*23*/
#maindiv{overflow: hidden;  margin: 0 auto;}
#menubar{margin-top: 100px; float: left; border: 1px solid green;
 box-sizing: border-box; width: 230px; height: 800px; text-align: center; border-radius: 10px;}
#productlist{float: right; box-sizing: border-box;}
#searchicon1{width: 25px; cursor: pointer; height: 20px; border-bottom: 1px solid green;}
#searchicon2{background-color: green; border: 1px solid green; height: 26px;}
#category1{margin-top: 50px;}

h2{font-weight: bold;}

table,th,td{border: 1px solid grey; border-collapse: collapse;}
#categorytable1{width: 228px; font-size: 20px;}
#categorytable1 td{width: 120px;}
#searchword{width: 180px; border: 1px solid green;}
#productlist{margin-top: 100px; width: 902px; box-sizing: border-box; height: 1350px; overflow: hidden;

}
.products{width: 250px; height: 400px; float: left; box-sizing: border-box;
	margin-right: 50px; margin-bottom: 50px; text-align: center; border-radius: 15px;
	border: 1px solid #66BB6A;
}
#pinfowidth{width: 200px; margin: 0 auto; overflow: hidden;}
.productsimg{width: 250px;}

#productlistnum{margin-left: 250px; width: 600px; height: 100px;}

#productlistnum div{width: 50px; height: 50px; float: left; line-height: 50px;
	text-align: center; border: 2px solid #66BB6A;
}

#rightarea{width: 902px; overflow: hidden; float: right; box-sizing: border-box; height: 100%;}

.productnumlist{width: 50px; margin: 0 auto;}

.productlistnumorder{font-size: 20px; color: black; font-weight: bold;}

#pname{color: black; font-size: 30px; text-align: center; font-weight: bold;}
#pinfo{color: black; font-size: 20px; text-align: center; text-overflow: ellipsis; white-space: nowrap;}

#leftboardeal{width: 150px;}

#request2{font-size: 20px; color: white;}
#request1{background-color: #66BB6A; border-color: #538F6A;}
#num3{margin-top: 50px;}

