@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

section{width: 1200px; margin: 0 auto; height: 100%;}

#refresh1{background-color: #66BB6A; border-color: #538F6A;}
#refresh2{font-size: 30px; color: white;}
#continue1{background-color: #66BB6A; border-color: #538F6A;}
#continue2{font-size: 30px; color: white;}
#remove1{background-color: #66BB6A; border-color: #538F6A;}
#table1 button{border-color: #538F6A;}
#table1 button:hover{background-color: #66BB6A;}
#plus1{border-color: #538F6A;}
#plus1:hover{background-color: #538F6A;}
#amount1{margin: 0 auto; margin-top: 35px;}
#checkout1{background-color: #66BB6A; border-color: #538F6A;}
#checkout2{font-size: 30px; color: white;}
#height1{height: 100px; margin-top: 80px;}
#height2{height: 170px; margin-top: 0px; width: 170px;}/* 29 */
#img1{height: 168px; width: 168px;}/* 29 */
#title1{font-size: 40px; margin-left: 4px;}
#totalprice1{font-size: 30px;}
#totalprice2{font-size: 25px;}/* 29 */
#section1{margin-left: 1px;}
#totalpnum2{height: 100px; margin-top: 80px;}
#table1{float: right; border: 1px solid green; width: 450px;}
#table2{float: right; border: 1px solid green; width: 835px;}
th,tr,td{border: 1px solid green;}
#tr1{height: 221px;}
#uppertable{margin-right: 1px;}
#ctnum1{width: 40px; margin: 0 auto;}

