@charset 'UTF-8';
/***** CSS : reset *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section, main {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after {
	content: '';
	content: none;
}

q::before, q::after {
	content: '';
	content: none;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

/***** CSS : reset add *****/
*, :after, :before {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	outline: none;
}

textarea {
	resize: none;
}

legend, caption, .blind {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

img {
	max-width: 100%;
}

button {
	font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', 'Malgun Gothic',
		'맑은 고딕', dotum, 돋움, sans-serif;
	font-size: 1rem;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: 0;
	outline: none;
	background: transparent;
}

input::-ms-clear {
	display: none;
}

b {
	font-weight: 700;
}

/***** CSS : mixin *****/
/***** CSS : base *****/
.no-data {
	padding: 20px 0;
	text-align: center;
}

.t-center {
	text-align: center;
}

.t-left {
	text-align: left;
}

.t-right {
	text-align: right;
}

ul::after, ol::after {
	display: block;
	clear: both;
	height: 0;
	content: '';
}

a {
	color: #333;
}

body, html {
	font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', 'Malgun Gothic',
		'맑은 고딕', dotum, 돋움, sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: 100%;
	word-break: break-word;
	color: #333;
}

body {
	line-height: 1;
	display: flex;
	overflow-y: scroll;
	flex-direction: column;
}

input, select, textarea {
	font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', 'Malgun Gothic',
		'맑은 고딕', dotum, 돋움, sans-serif;
}

.collapse:not(.show) {
	display: none;
}

.collapsing {
	position: relative;
	overflow: hidden;
	height: 0;
	transition: height .35s ease;
}

.fade {
	transition: opacity .15s linear;
}

.fade:not(.show) {
	opacity: 0;
}

.fade.show {
	opacity: 1;
}

.form-control {
	font-size: 1rem;
	line-height: 1;
	display: block;
	width: 100%;
	height: 30px;
	padding: 0 10px;
	transition: all .3s ease-in-out;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
}

.form-control::-webkit-input-placeholder {
	font-size: .929rem;
	color: #b0b0b0;
}

.form-control:-moz-placeholder {
	/* Firefox 18- */
	font-size: .929rem;
	color: #b0b0b0;
}

.form-control::-moz-placeholder {
	/* Firefox 19+ */
	font-size: .929rem;
	color: #b0b0b0;
}

.form-control:-ms-input-placeholder {
	font-size: .929rem;
	color: #b0b0b0;
}

.form-control.no-line {
	border: 0;
	background: none;
}

.form-control.error {
	outline-style: auto;
	outline-color: #ff1800;
}

input.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select.form-control {
	padding-right: 18px;
	padding-right: 5px\9;
	color: #333;
	background: #fff url(../images/icon/arrow-bottom.png) right no-repeat;
	background: #fff \9;
	background-size: 18px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select.form-control::-ms-expand {
	display: none;
}

select.form-control option {
	padding: 0;
}

.textarea {
	width: 100%;
}

textarea.form-control {
	line-height: normal;
	height: auto;
	padding: 5px 10px;
}

textarea.form-control::-webkit-scrollbar {
	width: 6px;
}

textarea.form-control::-webkit-scrollbar-track {
	background-color: #f2f2f2;
}

textarea.form-control::-webkit-scrollbar-thumb {
	background-color: #bbb;
}

main.shop-detail {
	transition: all .3s ease;
}

main.shop-detail .sub-page {
	margin: 0;
}

@media ( max-width : 768px) {
	main.shop-detail>.con-wrap {
		padding-top: 0;
	}
}

.shop-detail-area::after {
	display: block;
	clear: both;
	height: 0;
	content: '';
}

.shop-detail-area .left {
	float: left;
	width: 100%;
	max-width: 55%;
	transition: all .3s ease;
}

.shop-detail-area .right {
	overflow: hidden;
	padding-left: 30px;
	transition: all .3s ease;
}

@media ( max-width : 980px) {
	.shop-detail-area .left {
		max-width: 50%;
	}
}

@media ( max-width : 768px) {
	.shop-detail-area .left {
		float: none;
		max-width: none;
	}
	.shop-detail-area .right {
		padding-top: 30px;
		padding-left: 0;
	}
}

.shop-detail-img {
	position: relative;
	overflow: hidden;
}

.shop-detail-img .like {
	font-size: 1.786rem;
	position: absolute;
	z-index: 10;
	top: 15px;
	right: 15px;
	color: #fff;
}

.shop-detail-img .like.on i:before {
	content: '\e918';
	color: #ff1800;
}

@media ( max-width : 768px) {
	.shop-detail-img {
		width: auto !important;
		margin: 0 -20px;
	}
	.shop-detail-img .like {
		font-size: 1.286rem;
		top: 10px;
		right: 10px;
	}
}

.shop-detail-img-top {
	position: relative;
}

.shop-detail-counter {
	font-size: .929rem;
	position: absolute;
	right: 15px;
	bottom: 15px;
	padding: 5px 7px;
	color: #fff;
	border-radius: 12px;
	background-color: rgba(0, 0, 0, .4);
}

.shop-detail-img-main:hover .slick-arrow {
	opacity: 1;
}

.shop-detail-img-main .slick-slide {
	cursor: pointer;
}

.shop-detail-img-main .slick-slide img {
	margin: 0 auto;
}

.shop-detail-img-thumnail {
	margin-top: 25px;
	padding: 0 15px;
}

.shop-detail-img-thumnail .slick-arrow {
	width: auto;
	height: 100%;
	padding: 0;
	opacity: 1;
	color: #333;
	background: none;
}

.shop-detail-img-thumnail .slick-arrow:hover {
	color: #ff1800;
}

.shop-detail-img-thumnail .slick-arrow.slick-prev {
	left: 0;
	padding-right: 7px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.shop-detail-img-thumnail .slick-arrow.slick-next {
	right: 0;
	padding-left: 7px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.shop-detail-img-thumnail .slick-slide {
	position: relative;
	margin: 0 5px;
	cursor: pointer;
}

.shop-detail-img-thumnail .slick-slide.active::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	border: 2px solid #ff1800;
}

@media ( max-width : 768px) {
	.shop-detail-img-thumnail {
		margin-top: 10px;
	}
	.shop-detail-img-thumnail .slick-arrow.slick-prev {
		padding: 0 4px 0 3px;
	}
	.shop-detail-img-thumnail .slick-arrow.slick-next {
		padding: 0 3px 0 4px;
	}
}

.shop-detail-info h2 {
	font-size: 1.714rem;
	margin-bottom: 20px;
	font-weight: 900;
}

@media ( max-width : 980px) {
	.shop-detail-info h2 {
		font-size: 1.429rem;
	}
}

.shop-detail-stat {
	display: flex;
	padding: 10px 0;
	transition: all .3s ease;
	background-color: #f2f2f2;
	flex-wrap: wrap;
	align-items: center;
	flex-wrap: wrap;
}

.shop-detail-stat>li {
	font-size: 1.143rem;
	text-align: center;
	flex-grow: 1;
}

.shop-detail-stat>li::before {
	font-family: 'matong' !important;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	margin-right: 7px;
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.shop-detail-stat .star::before {
	content: '\e923';
	color: #ff7200;
}

.shop-detail-stat .heart::before {
	content: '\e918';
	color: #ff4a20;
}

.shop-detail-stat .location::before {
	content: '\e91b';
	color: #4c4c4c;
}

@media ( max-width : 980px) {
	.shop-detail-stat>li {
		font-size: 1rem;
	}
}

@media ( max-width : 320px) {
	.shop-detail-stat>li {
		font-size: .857rem;
	}
}

.shop-detail-location {
	margin-top: 10px;
	border: 1px solid #dbdbdb;
	border-width: 1px 0;
}

.shop-detail-location>li {
	font-size: 1.143rem;
	line-height: normal;
	display: flex;
	width: 100%;
	padding: 15px 0;
	transition: all .3s ease;
	border-top: 1px solid #f2f2f2;
	align-items: center;
}

.shop-detail-location>li:first-child {
	border-top: 0;
}

.shop-detail-location>li .tit {
	font-weight: 900;
	width: 90px;
	color: #000;
	flex-shrink: 0;
}

.shop-detail-location>li .area {
	min-width: 0;
	flex: 1;
}

.shop-detail-location .time {
	margin-right: 10px;
}

.shop-detail-location .time-no {
	display: inline-block;
	color: #ff1800;
}

.shop-detail-location .time-no::before {
	font-family: 'matong' !important;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	margin-right: 5px;
	content: '\e94a';
	vertical-align: -1px;
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media ( max-width : 980px) {
	.shop-detail-location>li {
		font-size: 1rem;
		padding: 10px 0;
	}
}

@media ( max-width : 768px) {
	.shop-detail-location>li>.tit {
		width: 80px;
		font-weight: bold;
	}
	.shop-detail-location .time {
		margin-right: 5px;
	}
}

.address-copy span {
	font-size: .857rem;
	display: block;
	margin-left: 10px;
	padding: 2px 5px;
	white-space: nowrap;
	border: 1px solid #dbdbdb;
}

.address-copy span::before {
	font-family: 'matong' !important;
	font-weight: normal;
	font-weight: 400 !important;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	margin-right: 7px;
	content: '\e94d';
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.shop-detail-btn {
	display: flex;
	margin-top: 10px;
}

.shop-detail-btn.sticky {
	position: fixed;
	z-index: 6;
	top: 53px;
	right: 0;
	left: 0;
	margin-top: 0;
}

.shop-detail-btn button, .shop-detail-btn a {
	font-size: 1.143rem;
	font-weight: 500;
	display: inline-flex;
	width: 33.333%;
	height: 60px;
	color: #fff;
	border-left: 1px solid #dbdbdb;
	background-color: #2ba2a9;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	flex-shrink: 1;
}

.shop-detail-btn button:first-child, .shop-detail-btn a:first-child {
	border-left-color: transparent;
}

.shop-detail-btn button::before, .shop-detail-btn a::before {
	font-family: 'matong' !important;
	font-size: 1.714rem;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	margin-right: 10px;
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.shop-detail-btn .now::before {
	content: '\e92d';
}

.shop-detail-btn .loaction::before {
	content: '\e91b';
}

.shop-detail-btn .call::before {
	content: '\e94f';
}

@media ( max-width : 980px) {
	.shop-detail-btn.sticky {
		top: 46px;
	}
	.shop-detail-btn button, .shop-detail-btn a {
		font-size: 1rem;
		height: 40px;
	}
	.shop-detail-btn button::before, .shop-detail-btn a::before {
		font-size: 1.429rem;
	}
}

@media ( max-width : 768px) {
	.shop-detail-btn button::before, .shop-detail-btn a::before {
		font-size: 1.286rem;
		margin-right: 7px;
	}
}

.shop-detail-tab-area {
	margin-top: 40px;
	overflow: hidden;
}

.shop-detail-tab {
	display: flex;
	margin-bottom: 30px;
}

.shop-detail-tab li {
	position: relative;
	flex-grow: 1;
	flex-basis: 25%;
	align-items: center;
}

.shop-detail-tab li.active a {
	font-weight: 500;
	border-top-color: #000;
	border-bottom-color: #fff;
	background-color: #fff;
}

.shop-detail-tab li.active a::before {
	position: absolute;
	top: 0;
	right: -1px;
	left: -1px;
	display: block;
	height: 4px;
	content: '';
	background-color: #000;
}

.shop-detail-tab li+li a {
	border-left: 0;
}

.shop-detail-tab li a {
	font-size: 1.286rem;
	display: flex;
	height: 50px;
	transition: all .3s ease;
	color: #000;
	border: 1px solid #dbdbdb;
	background-color: #f2f2f2;
	align-items: center;
	justify-content: center;
}

.shop-detail-tab li a:hover {
	font-weight: 500;
	border-top-color: #000;
	border-bottom-color: #fff;
	background-color: #fff;
}

.shop-detail-tab li a:hover::before {
	position: absolute;
	top: 0;
	right: -1px;
	left: -1px;
	display: block;
	height: 4px;
	content: '';
	background-color: #000;
}

@media ( max-width : 768px) {
	.shop-detail-tab>li a {
		font-size: 1rem;
		height: 40px;
	}
}

.shop-detail-tab-content {
	max-width: 1000px;
	margin: 0 auto;
}

.shop-detail-menu-list.half .top {
	float: left;
	width: 50%;
	padding-right: 40px;
}

.shop-detail-menu-list.half .menu {
	float: left;
	width: 50%;
}

.shop-detail-menu-list .best {
	font-size: 1rem;
	font-weight: 500;
	display: inline-block;
	margin-left: 10px;
	padding: 4px 10px 6px 10px;
	color: #fff;
	border-radius: 7px;
	background-color: #2ba2a9;
}

.shop-detail-menu-list.set>li .menu-box {
	flex-grow: 1;
	flex-basis: 50%;
}

.shop-detail-menu-list>li {
	padding: 20px 15px 20px 25px;
	transition: all .3s ease;
	border-top: 1px solid #dbdbdb;
}

.shop-detail-menu-list>li::after {
	display: block;
	clear: both;
	height: 0;
	content: '';
}

.shop-detail-menu-list>li:first-child {
	border-top: 0;
}

.shop-detail-menu-list>li .top .tit {
	font-size: 1.286rem;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 10px;
	transition: all .3s ease;
}

.shop-detail-menu-list>li .top .text {
	font-size: 1.143rem;
	line-height: normal;
	transition: all .3s ease;
	color: #4c4c4c;
}

.shop-detail-menu-list>li .menu {
	display: flex;
	max-width: 500px;
	justify-content: flex-end;
}

.shop-detail-menu-list>li .menu-box {
	width: 50%;
	margin: 0 10px;
	padding: 20px;
	text-align: right;
	border-radius: 20px;
	background-color: #f8f9fb;
}

.shop-detail-menu-list>li .menu-box .type {
	font-size: 1.286rem;
	font-weight: 700;
	margin-bottom: 20px;
}

.shop-detail-menu-list>li .menu-box>.price {
	font-size: 1.143rem;
	min-height: 16px;
	margin-bottom: 5px;
	text-decoration: line-through;
	color: #4c4c4c;
}

.shop-detail-menu-list>li .menu-box .area {
	display: flex;
	min-height: 28px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
}

.shop-detail-menu-list>li .menu-box .area .percent {
	font-size: 1.286rem;
	font-weight: 700;
	display: inline-flex;
	height: 28px;
	padding: 0 10px;
	color: #fff;
	border-radius: 5px;
	background-color: #ff1800;
	align-items: center;
}

.shop-detail-menu-list>li .menu-box .area .price {
	font-size: 1.429rem;
	font-weight: 900;
	margin-left: 20px;
	color: #ff1800;
}

@media ( max-width : 980px) {
	.shop-detail-menu-list.half .top {
		float: none;
		width: 100%;
		padding-right: 20px;
	}
	.shop-detail-menu-list.half .menu {
		float: none;
		width: 100%;
	}
	.shop-detail-menu-list>li {
		display: block;
		padding: 0;
	}
	.shop-detail-menu-list>li .top {
		float: none;
		width: 100%;
		margin-right: 0;
		padding: 20px 25px;
	}
	.shop-detail-menu-list>li .menu {
		float: none;
		width: 100%;
		max-width: none;
		padding-bottom: 20px;
	}
}

@media ( max-width : 768px) {
	.shop-detail-menu-list.set>li .menu-box {
		flex-grow: 0;
	}
	.shop-detail-menu-list>li .top {
		padding: 20px 15px;
	}
	.shop-detail-menu-list>li .top .tit {
		font-size: 1.071rem;
	}
	.shop-detail-menu-list>li .top .text {
		font-size: 1rem;
	}
	.shop-detail-menu-list>li .menu-box {
		flex-grow: 0;
	}
	.shop-detail-menu-list>li .menu-box .type {
		font-size: 1.071rem;
	}
	.shop-detail-menu-list>li .menu-box>.price {
		font-size: 1rem;
	}
	.shop-detail-menu-list>li .menu-box .area .percent {
		font-size: 1rem;
		height: 22px;
	}
	.shop-detail-menu-list>li .menu-box .area .price {
		font-size: 1.143rem;
		margin-left: 10px;
	}
}

@media ( max-width : 360px) {
	.shop-detail-menu-list>li .menu-box {
		margin: 0 5px;
		padding: 15px;
		flex-basis: calc(50% - 10px);
	}
	.shop-detail-menu-list>li .menu-box .type {
		font-size: 1rem;
	}
	.shop-detail-menu-list>li .menu-box>.price {
		font-size: .857rem;
		margin-bottom: 0;
	}
	.shop-detail-menu-list>li .menu-box .area .percent {
		font-size: .857rem;
		height: 22px;
		margin-right: 0;
		padding: 0 5px;
	}
	.shop-detail-menu-list>li .menu-box .area .price {
		font-size: 1rem;
		margin-left: 5px;
	}
}

@media ( max-width : 320px) {
	.shop-detail-menu-list>li .menu-box {
		padding: 15px 10px;
	}
	.shop-detail-menu-list>li .menu-box .area .price {
		font-size: 1rem;
	}
}

.shop-detail-map {
	position: relative;
	height: 240px;
}

.shop-detail-map.extend {
	height: 100%;
}

.review-top {
	display: flex;
	margin-bottom: 20px;
	align-items: center;
}

@media ( max-width : 768px) {
	.review-top {
		margin-bottom: 20px;
	}
}

.review-score {
	display: inline-block;
	flex: 1;
}

.review-score .score-now {
	font-size: 2.857rem;
	font-weight: 900;
	display: inline-block;
	margin-right: 20px;
	transition: all .3s ease;
	color: #000;
}

/* .review-score .score-now::before
{
    font-family: 'matong' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    margin-right: 20px;

    content: '\e923';
    text-transform: none;

    color: #66BB6A;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */
.review-score .score-now span {
	font-weight: 500;
	color: #4c4c4c;
}

.review-score span {
	font-size: 1.429rem;
	font-weight: 300;
	transition: all .3s ease;
	color: #4c4c4c;
}

@media ( max-width : 980px) {
	.review-score .score-now {
		font-size: 2.143rem;
	}
	.review-score span {
		font-size: 1.143rem;
	}
}

@media ( max-width : 768px) {
	.review-score .score-now {
		font-size: 1.429rem;
		margin-right: 10px;
	}
	.review-score .score-now::before {
		margin-right: 10px;
	}
	.review-score span {
		font-size: 1rem;
	}
}

.review-write {
	font-size: 1.429rem;
	font-weight: 500;
	display: inline-flex;
	height: 50px;
	padding: 0 50px;
	transition: all .3s ease;
	color: #fff;
	border-radius: 20px;
	background-color: #66BB6A;
	align-items: center;
	justify-content: center;
}

.review-write:hover {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

@media ( max-width : 980px) {
	.review-write {
		font-size: 1.143rem;
		height: 40px;
		border-radius: 15px;
	}
}

@media ( max-width : 768px) {
	.review-write {
		font-size: 1rem;
		height: 30px;
		padding: 0 15px;
		border-radius: 10px;
	}
}

.review-detail-top {
	font-size: 1.286rem;
	font-weight: 500;
	line-height: 1;
	display: flex;
	transition: all .3s ease;
	align-items: center;
}

.review-detail-top .checks {
	flex: 1;
}

.review-detail-top .checks input[type=checkbox]+label::before {
	width: 20px;
	height: 20px;
}

.review-detail-top .right button {
	font-size: 1.286rem;
	font-weight: 500;
	transition: all .3s ease;
}

.review-detail-top .right .dropdown {
	display: inline-block;
	margin-left: 40px;
}

.review-detail-top .right .dropdown-toggle {
	padding: 10px 20px;
}

.review-detail-top .right .dropdown-toggle::after {
	margin-left: 10px;
	color: #4c4c4c;
}

.review-detail-top .right .dropdown-item {
	font-size: 1rem;
	position: relative;
	padding: 5px 1.5rem;
	text-align: center;
}

.review-detail-top .right .dropdown-item.active::before {
	font-family: 'matong' !important;
	font-size: .714rem;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	position: absolute;
	top: 50%;
	left: 10px;
	margin-right: 10px;
	content: '\e908';
	transform: translateY(-50%);
	text-transform: none;
	color: #ff7049;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media ( max-width : 768px) {
	.review-detail-top {
		font-size: 1rem;
	}
	.review-detail-top .checks {
		flex: 1;
	}
	.review-detail-top .checks input[type=checkbox]+label::before {
		width: 15px;
		height: 15px;
	}
	.review-detail-top .right button {
		font-size: 1rem;
	}
	.review-detail-top .right .dropdown {
		margin-left: 10px;
	}
	.review-detail-top .right .dropdown-toggle {
		padding: 10px 0;
	}
}

.review-detail-list {
	border-top: 1px solid #dbdbdb;
	background-color: #f2f2f2;
}

.review-detail-list>li {
	margin-top: 20px;
	border: 1px solid #dbdbdb;
	border-width: 1px 0;
	background-color: #fff;
}

.review-detail-list>li.data-none {
	padding: 100px 0;
	text-align: center;
	color: #b0b0b0;
}

.review-detail-list>li.data-none .tit {
	font-size: 2.143rem;
	font-weight: 500;
}

.review-detail-list>li.data-none .text {
	font-size: 1.286rem;
	margin-top: 20px;
}

@media ( max-width : 768px) {
	.review-detail-list>li.data-none {
		padding: 50px 0;
	}
	.review-detail-list>li.data-none .tit {
		font-size: 1.286rem;
	}
	.review-detail-list>li.data-none .text {
		font-size: 1rem;
		margin-top: 10px;
	}
}

.review-d {
	padding: 30px;
	transition: all .3s ease;
}

.review-d.answer {
	margin-bottom: 30px;
	border: 0;
	border-radius: 20px;
	background-color: #f8f9fb;
}

@media ( max-width : 768px) {
	.review-d {
		padding: 20px;
	}
	.review-d.answer {
		margin-bottom: 20px;
		border-radius: 10px;
	}
}

.review-d-name {
	font-size: 1.143rem;
	display: flex;
	margin-bottom: 10px;
	align-items: flex-end;
}

.review-d-name .name {
	font-weight: 500;
	margin-right: 30px;
	color: #000;
}

.review-d-name .time {
	font-size: 1rem;
	color: #4c4c4c;
}

@media ( max-width : 768px) {
	.review-d-name {
		font-size: 1rem;
	}
	.review-d-name .time {
		font-size: .857rem;
	}
}

.star-list {
	display: flex;
	margin: 0 -2px;
	align-items: center;
}

.star-list>li {
	margin: 0 2px;
}

.star-list>li.on::before {
	opacity: 1;
}

.star-list>li::before {
	font-family: 'matong' !important;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	content: '\e923';
	text-transform: none;
	opacity: .3;
	color: #ff7200;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.review-d-bottom {
	margin-top: 30px;
}

@media ( max-width : 768px) {
	.review-d-bottom {
		margin-top: 20px;
	}
}

.review-d-menu {
	font-size: 1.286rem;
	font-weight: 700;
	margin-bottom: 5px;
}

@media ( max-width : 768px) {
	.review-d-menu {
		font-size: 1.143rem;
	}
}

.review-d-text {
	line-height: normal;
}

.review-d-slide {
	position: relative;
	width: auto;
	height: 100%;
	max-height: 120px;
	margin: 0 -30px;
	margin-top: 20px;
	padding: 0 20px;
	cursor: pointer;
}

.review-d-slide .slick-slide {
	margin: 0 10px;
}

.review-d-slide .slick-arrow {
	opacity: 1;
	color: #333;
	background: none;
}

.review-d-slide .slick-arrow:hover {
	color: #ff7200;
	background: rgba(0, 0, 0, .2);
}

.review-d-slide .slick-prev {
	left: 0;
}

.review-d-slide .slick-next {
	right: 0;
}

.review-d-slide img {
	width: 100%;
	height: 120px;
}

@media ( max-width : 768px) {
	.review-d-slide {
		margin: 0 -25px;
		margin-top: 20px;
	}
	.review-d-slide .slick-slide {
		margin: 0 5px;
	}
	.review-d-slide .slick-arrow {
		width: 20px;
		height: 20px;
	}
	.review-d-slide img {
		height: 80px;
	}
}

@media ( max-width : 480px) {
	.review-d-slide img {
		height: 60px;
	}
}

.shop-detail {
	width: 1200px;
	margin: 0 auto;
}

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

* {
	font-family: 'Pretendard-Regular';
}

.review-d-text {
	font-size: 18px;
}

.review-d-name {
	font-size: 20px;
}

.detail-title {
	margin: 40px 0;
	width: 250px;
	border-bottom: 1px solid black;
	padding-bottom: 20px;
	font-weight: bold;
}

.detail-content {
	font-size: 18px;
}

.review-score .score-now img {
	width: 45px;
}

.review-score .score-now {
	font-size: 2.857rem;
	font-weight: 900;
	display: inline-block;
	margin-right: 20px;
	transition: all .3s ease;
	color: #000;
}

.review-score .score-now::before {
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	margin-right: 20px;
	color: #66BB6A;
}

.review-area>select {
	font-size: 18px;
}

.review-area textarea {
	font-size: 20px;
	width: 100%;
	height: 100px;
	padding: 10px;
	margin-bottom: 30px;
}

#content-left {
	float: left;
	width: 500px;
}

#content-right {
	float: right;
	width: 700px;
}