@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    font-family: 'Pretendard-Regular';
    box-sizing: border-box;
}



.footer-heading {font-weight: bold;}
.site-footer {
    padding: 4em 0; }
.site-footer ul li {
    margin-bottom: 10px; }
    .site-footer ul li a {
    color: #5c626e; }
    .site-footer ul li a:hover {
        color: #66BB6A; }
.site-footer .footer-heading {
    font-size: 20px;
    color: #25262a; }
.block-5 ul, .block-5 ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.5; }

.block-5 ul li {
    padding-left: 30px;
    position: relative;
    margin-bottom: 15px;
    color: #25262a; }

.block-5 ul li:before {
    top: 0;
    font-family: "icomoon";
    content: "";
    position: absolute;
    left: 0;
    font-size: 20px;
    line-height: 1;
    color: #66BB6A; }
.block-5 ul li.address:before {
    content: "\e8b4"; }
.block-5 ul li.email:before {
    content: "\f0e0"; }
.block-5 ul li.phone:before {
    content: "\f095"; }
.block-5 h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    margin-top: 0;
}
.block-6 {
    display: block; }
.block-6:hover{
    text-decoration: none;
}
.block-6 img {
    display: block; }
.block-6 h3 {
    font-size: 18px; 
    color: #66BB6A;}
.block-6 p {
    color: #737b8a; }
.border-top{
    border-top: 1px solid #dee2e6!important;
}

.container{
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.f_contents, .f_contents_tit, .f_contents .t_box{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.f_contents{
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    
}

.f_contents_tit{
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}
.f_contents_tit h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    margin-top: 0;
}

.f_contents .t_box{
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
}
.t_box .cumu{
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
}
.f_contents_main{
    -webkit-box-flex: 0;
    flex: 0 0 25%;
}

footer {
    width: 1200px; 
    margin: 0 auto !important; 
    display: block !important;
    line-height: 1.5;
    margin-top:100px !important;
}

#atag1{text-decoration: none;}
#atag2{text-decoration: none;}
#atag3{text-decoration: none;}
#atag4{text-decoration: none;}
#atag5{text-decoration: none;}
#atag6{text-decoration: none;}
#atag7{text-decoration: none;}
#atag8{text-decoration: none;}
#atag9{text-decoration: none;}
#atag10{text-decoration: none;}



