@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
h1 img{width:100%; height:auto;}
ol, ul { list-style: none;}
a{ text-decoration: none;}

.headerList{display: none; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;
padding: 0px;
}
.headerUserSpan{position: absolute; right: 0; top: 0; height: 100px; line-height: 100px;}
.headerUser{background: none; border: none; font-size: 20px; color: #66BB6A; margin-left: 15px; font-weight: bold;}
@media all and (min-width:1200px){
    h1 { width: 194px; height: 60px; top: 20px; left: 30px; position: relative; transition: all 1s;}
    .h_body{font-size:30px;}
    /* 헤더 */
    header{width:100%; height:100px; margin-bottom:50px !important;}
    header section{width:1200px; position: relative; height: 100%; margin: 0 auto;}
    h1{width:194px; height:60px; top:20px; left:30px;}
    /*헤더-오른쪽메뉴*/
    ol.webMenu{position:absolute; top:0; right:250px; height:100%;}
    ol.webMenu>li{float:left; position:relative; height:100px; text-align: center; line-height:100px; padding: 0 25px; box-sizing:border-box; transition:all 0.1s;}
    ol.webMenu>li:hover>a{border-bottom:5px solid #e6002d; }
    ol.webMenu>li>a{display:block; color:#7d7d7d; font-weight:700; height: 96px; box-sizing:border-box;}
    
    ol.webMenu li ul{display: none; position: absolute; left: 50%; transform: translateX(-50%);  background-color: #fff; z-index:5;}
    ol.webMenu li ul li{line-height: 1.5;}
    ol.webMenu li ul li:first-child a{padding-top: 25px;}
    ol.webMenu li ul li:last-child a{padding-bottom: 25px;}
    ol.webMenu li ul li a{display: block; color: #666; padding: 10px 15px; font-size: 16px; text-align: center; white-space: nowrap; background-color: #fff;}
}
#atagt1, #atagt2, #atagt3, #atagt4{
	text-decoration: none;
}
#atag1{text-decoration: none;}
#atag2{text-decoration: none;}
#atag3{text-decoration: none;}
#atag4{text-decoration: none;}
#atag5{text-decoration: none;}
#atag6{text-decoration: none;}
#atag7{text-decoration: none;}
#atag8{text-decoration: none;}
#atag9{text-decoration: none;}
#atag10{text-decoration: none;}
#atag11{text-decoration: none;}
#atag11:hover{color: green;}
#atag12{text-decoration: none;}
#atag12:hover{color: green;}
