@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
	section{width: 1200px; margin: 0 auto; height: 1000px;}
	#logopic{width: 300px;}
	#loginicon1{width: 88px;}
	#pwicon1{width: 88px;}
	#logodiv{margin: 0 auto; box-sizing: border-box; width: 300px; margin-top: 200px;}
	#maindiv{overflow: hidden;  margin: 0 auto;}
	#id{margin: 0 auto; box-sizing: border-box; width: 500px; margin-top: 100px;
	border: 1px solid grey; height: 100px;
	}
	#pw{margin: 0 auto; box-sizing: border-box; width: 500px; margin-top: 50px;
	border: 1px solid grey; height: 100px;
	}
	#id{text-align: right;}
	#pw{text-align: right;}
	#uid{width: 400px; height: 99px; border: 1px solid grey; font-size: 25px;}
	#upw{width: 400px; height: 99px; border: 1px solid grey; font-size: 20px;}
	#loginbutton{margin: 0 auto; box-sizing: border-box; width: 500px; margin-top: 50px;
	border: 1px solid grey; height: 100px;
	}
	#ulogin{width: 500px; height: 99px; border: 1px solid green; font-size: 50px; background-color: #66BB6A;
		cursor: pointer;
	}
	#regandsearch{margin: 0 auto; box-sizing: border-box; width: 500px; margin-top: 50px;
	height: 100px; overflow: hidden;
	}
	#reg2{float: left;}
	#search2{float: right;}
	#reg1{font-size: 30px;}
	#search1{font-size: 30px;}
	
	
	