h2 {
    text-align: center;
}
h2 strong{
    width: 100%;
    color: black;
    margin: 20px;
}
h2 span{
    display: block;
    font-size: 15px;
    font-weight: normal;
}
.stepbox{
    width: 100%;
    margin: 40px 330px 30px 330px;
    overflow: hidden;
}
.stepbox .step{
    position: relative;
    float: left;
    width: 15%;
    height: 90px;
    background: #ebebeb;
    border-right: 3px solid white;
}
.stepbox .stepon{
    background: #AEBD77;
}
.stepbox .stepon p.web{
    color: white;
    margin-bottom: 0;
}
.stepbox .step p.web{
    font-size: 20px;
    font-weight: 600;
    padding: 12px 0 0 15px;
    margin-bottom: 0;
}
.stepbox .stepon p.txt{
    color: white;
    margin-bottom: 0;
}
.stepbox .step p.txt{
    padding: 5px 0 0 15px;
    margin-bottom: 0;
}
.stepbox .step p.ck{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.agreewrap{
    margin: 30px 0 50px 300px;
}
.agreewrap .agreetxt {
    margin-bottom: 20px;
    font-size: 25px;
    color: black;
    font-weight: 800;
}
.agreewrap .agreetxt span{
    font-size: 14px;
}
.agreewrap .agree{
    overflow: auto; width: 600px; height: 500px;
    border: 1px solid silver;
    margin-bottom: 10px; 
}
.agreewrap .agree h4{
    font-size: 17px;
}
.agreewrap .agree p{
    font-size: 14px;
}
.agreeCheckbox #agreeCk{
    margin: 3px 6px 3px 3px;
}
.agreeCheckbox ul {
	padding-left: 0;
}
.btnBox{
    position: relative;
    width: 100%;
    height: 100px;
    text-align: center;
    clear: both;
}
.btnBox .bCenter{
    width: 600px;
    margin: 0 auto;
}
.btnBox .bCenter li{
    float: left;
    padding: 0 5px;
}
.btnBox .bCenter .cancel{
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    background: #999;
    color: white;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
}
.btnBox .bCenter .userJ,.farmerJ{
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    background: #AEBD77;
    color: white;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
}
.farmerJ:hover{
	text-decoration: none;
	color:white;
}